.main_content_contact {
  margin: 0px;
  margin-right: 0px;
  width: 1280px;
}

.first_title_contact {
  display: inline-block;
  width: 1205px;
  margin-top: 147px;
  margin-bottom: 0;
  margin-right: 0px;
  margin-left: 45px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 108px;
  line-height: 162px;
  align-items: center;

  color: #2f303a;
}

.first_sub_contact {
  display: inline-block;
  width: 1205px;
  margin: 0;
  margin-left: 45px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  align-items: center;

  color: #2f303a;
}

.sec_title_contact {
  display: inline-block;
  width: 1205px;
  margin: 0;
  margin-left: 45px;
  font-family: "Poppins", sans-serif;
  font-style: meduim;
  font-weight: 700;
  font-size: 75px;
  line-height: 112px;

  color: #2f303a;
}

.sec_sub_contact {
  display: inline-block;
  width: 1205px;
  margin: 0;
  margin-left: 45px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 31px;
  line-height: 46px;
  align-items: center;

  color: #2f303a;
}

.contact_background {
  display: inline-block;
  background: url(businessmen-businesspeople-businesswomen-1249158.jpg);
  width: 500px;
  height: 880px;
  margin: 0;
  object-fit: cover;
}

.main_contact {
  display: inline;
}
