.main_content_contact {
  margin: 0px;
  margin-right: 0px;
  width: 1280px;
}

.first_title_contact {
  width: 1280px;
  margin-top: 147px;
  margin-bottom: 0;
  margin-right: 0px;
  margin-left: 45px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 108px;
  line-height: 162px;
  display: flex;
  align-items: center;

  color: #2f303a;
}

.first_sub_contact {
  margin: 0;
  margin-left: 45px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  display: flex;
  align-items: center;

  color: #2f303a;
}

.sec_title_contact {
  margin: 0;
  margin-left: 45px;
  font-family: "Poppins", sans-serif;
  font-style: meduim;
  font-weight: 700;
  font-size: 75px;
  line-height: 112px;

  color: #2f303a;
}

.sec_sub_contact {
  margin: 0;
  margin-left: 45px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 31px;
  line-height: 46px;
  display: flex;
  align-items: center;

  color: #2f303a;
}

.background_contact {
  background: url(businessmen-businesspeople-businesswomen-1249158.jpg);
  display: block;
  margin-left: auto;
}
