@font-face {
font-family: 'Bickham Script Pro Regular';
font-style: normal;
font-weight: normal;
src: local('Bickham Script Pro Regular'), url('Bickham Script Pro Regular.woff') format('woff');
}


@font-face {
font-family: 'Bickham Script Pro Semibold';
font-style: normal;
font-weight: normal;
src: local('Bickham Script Pro Semibold'), url('Bickham Script Pro Semibold.woff') format('woff');
}


@font-face {
font-family: 'Bickham Script Pro Bold';
font-style: normal;
font-weight: normal;
src: local('Bickham Script Pro Bold'), url('Bickham Script Pro Bold.woff') format('woff');
}
