@media only screen and (max-width: 1920px) {
  .back {
    height: 100.8%;
  }
}

@media only screen and (max-width: 1680px) {
  .title_index {
    position: absolute;
    width: 553px;
    height: 10px;
    left: 64.45%;
    top: 271px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 120px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #2f303a;
  }

  .sub_title_index {
    left: 64.45%;
  }

  .start_button {
    left: 64.45%;
  }

  .back {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background: linear-gradient(
        107deg,
        rgba(41, 58, 196, 0.55) 0%,
        rgba(45, 173, 103, 0.5634628851540616) 100%
      ),
      url(background-landing.jpg);
    position: relative;
    width: 60.4%;
    height: 99.8%;
    left: 0px;
    top: 2px;
    z-index: 50;
    position: absolute;
    background-size: cover;
    object-fit: cover;
  }
}

@media screen and (max-width: 1519px) {
  .back {
    width: 57.4%;
  }

  .sub_title_index {
    left: 60%;
    font-size: 34px;
  }

  .title_index{
    left: 60%;
  }

  .start_button {
    left: 60%;
  }
}
@media screen and (max-width: 1205px) {
  .back {
    height: 99.8%;
  }

  .logo {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .home_index {
    left: 150px;
  }

  .latest_navi {
    left: 283px;
  }

  .abt_navi {
    display: none;
  }

  .contact_navi {
    left: 559px;
  }
}

@media screen and (max-width: 950px) {
  .quote_title {
    font-size: 30px;
  }

  .document {
    width: 100%;
    height: 500px;
    outline: none;
  }

  footer ul {
    margin-bottom: 0;
 }

 footer nav {
    margin: auto;
 }

 footer p {
    margin: 10px auto;
    text-align: center;
 }
 footer img {
   display: block;
 }
}

@media screen and (max-width: 820px) {
  .quote_title {
    font-size: 25px;
  }
}

@media screen and (max-width: 780px) {
  html {
    min-height: 100%;
  }

  #body_index {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background: linear-gradient(
        107deg,
        rgba(41, 58, 196, 0.55) 0%,
        rgba(45, 173, 103, 0.5634628851540616) 100%
      ),
      url(background-landing.jpg);
  }

  .back {
    display: none;
  }

  .title_index {
    position: absolute;
    top: 271px;
    left: 1%;
    color: white;
  }
  .sub_title_index {
    position: absolute;
    top: 415px;
    left: 1%;
    color: white;
  }
  .start_button {
    position: absolute;
    top: 601px;
    left: 1%;
    text-align: center;
    color: white;
  }

  .quote_title {
    font-size: 20px;
  }

  .main_content_index {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: green 5px;
  }

  .spotify {
    width: 100%;
  }

  .map {
    width: 100%;
  }
}

@media screen and (max-width: 689px) {
  footer li {
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 635px) {
  .jumpsuit {
    width: 182px;
  }
}

@media screen and (max-width: 575px) {
  footer span {
    display: none;
  }

  footer li {
     display: block;
  }

  .author-name {
    font-size: 30px;
  }

}

@media screen and (max-width: 420px) {

  .author-name {
    font-size: 15px;
  }

}
