.parallax {
  background-image: url("jamie-muller-1507549-unsplash.jpg");

  height: 90%;
  width: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
