* {
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
}

.html {
  height: 100%;
  margin: 0px;
  scroll-behavior: smooth;
}

.body {
  height: 100%;
  margin: 0px;
}

#content {
  background-color: rgba(0, 0, 0, 0.6);
}

a {
  text-decoration: none;
}

.back {
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(
      107deg,
      rgba(41, 58, 196, 0.55) 0%,
      rgba(45, 173, 103, 0.5634628851540616) 100%
    ),
    url(background-landing.jpg);
  position: relative;
  width: 66.4%;
  height: 99.8%;
  left: 0px;
  top: 2px;
  z-index: 50;
  position: absolute;
  background-size: cover;
  object-fit: cover;
}

.title_index {
  position: absolute;
  width: 553px;
  height: 10px;
  left: 70.45%;
  top: 271px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 120px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #2f303a;
}

.sub_title_index {
  position: absolute;
  width: 583px;
  height: 100px;
  left: 70.45%;
  top: 415px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  align-items: center;

  color: #2f303a;
}

.start_button {
  position: absolute;
  width: 196px;
  height: 88px;
  left: 70.45%;
  top: 601px;
  transition: background-color 0.8s ease;
  background-color: #2dad67;

  background: #2dad67;
  border-radius: 15px;
  border: none;
  outline: none;
}

.start_button:hover {
  transition: background-color 0.8s ease;
  background-color: #269458;
}

.button_txt {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.button_txt:hover {
  text-decoration: none;
  color: #ffffff;
}

.home_index {
  position: absolute;
  width: 108px;
  height: 54px;
  left: 429px;
  top: 43px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  align-items: center;
  color: #2f303a;
  text-decoration: none;
}

.map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.title_abt {
  position: relative;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 103px;
  line-height: 154px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #2f303a;
}

.logo_abt {
  position: relative;
  top: -132px;
  left: 8.33%;
  width: 619px;
  height: 619px;

  border: 16px solid #2f303a;
  box-sizing: border-box;
  box-shadow: -16px 33px 45px rgba(0, 0, 0, 0.25);
}

.gallery {
  display: inline-block;
  border: 10px solid #2dad67;
  box-sizing: border-box;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.art {
   padding: 0 !important;
   height: 500px;

}

.article_gallery {
  display: flex;
  height: 100%;
  width: 1054px !important;
}

.article_gallery:last-of-type {
    float: right;
}

.article-thumbnail {}

#article_gallery {

}

.article_text {
  display: inline-block;
  width: 53%;
  margin-right: 105px;
}

.article-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 69px;
  line-height: 126px;
  display: flex;
  align-items: center;

  color: #2F303A;
}
