* {
  box-sizing: border-box;
}

.html {
  height: 100%;
  margin: 0px;
  scroll-behavior: smooth;
}

.body {
  height: 100%;
  margin: 0px;
}

#content {
  background-color: rgba(0, 0, 0, 0.6);
}

a {
  text-decoration: none;
}

.back {
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(
      107deg,
      rgba(41, 58, 196, 0.55) 0%,
      rgba(45, 173, 103, 0.5634628851540616) 100%
    ),
    url(background-landing.jpg);
  position: relative;
  width: 66.4%;
  height: 99.8%;
  left: 0px;
  top: 2px;
  z-index: 50;
  position: absolute;
  background-size: cover;
  object-fit: cover;
}
/* <navi> */

.navi {
  color: white;
  position: fixed;
  width: 100%;
  height: 127px;
  left: 0px;
  top: 0px;
  box-shadow: 5px 9px 45px rgba(0, 0, 0, 0.25);
  z-index: 100;
}

.rec_navi {
  position: absolute;
  width: 2573px;
  height: 127px;
  left: 0px;
  top: 0px;
  background: #ffffff;
}

.logo {
  position: relative;
  width: 124px;
  height: 124px;
  left: 8.4%;
  top: 2px;
  background: url(Frame 3png);
  z-index: 100;
}

.contact_navi {
  position: absolute;
  width: 147px;
  height: 54px;
  left: 1091px;
  top: 43px;

  font-style: normal;
  font-family: Poppins;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
  z-index: 90;

  color: #2f303a;
  text-decoration: none;
}

.abt_navi {
  position: absolute;
  width: 160px;
  height: 54px;
  left: 883px;
  top: 43px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
  align-items: center;
  display: flex;
  color: #2f303a;
  text-decoration: none;
}

.latest_navi {
  position: absolute;
  width: 249px;
  height: 54px;
  left: 585px;
  top: 43px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  align-items: center;
  color: #2f303a;
  text-decoration: none;
}

.latest_navi:hover,
.home_index:hover,
.abt_navi:hover,
.contact_navi:hover {
  color: #2f303a;
  text-decoration: none;
}

.title_index {
  position: absolute;
  width: 553px;
  height: 10px;
  left: 70.45%;
  top: 271px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 120px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #2f303a;
}

.sub_title_index {
  position: absolute;
  width: 583px;
  height: 100px;
  left: 70.45%;
  top: 415px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  align-items: center;

  color: #2f303a;
}

.start_button {
  position: absolute;
  width: 196px;
  height: 88px;
  left: 70.45%;
  top: 601px;
  transition: background-color 0.8s ease;
  background-color: #2dad67;

  background: #2dad67;
  border-radius: 15px;
  border: none;
  outline: none;
}

.start_button:hover {
  transition: background-color 0.8s ease;
  background-color: #269458;
}

.button_txt {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.button_txt:hover {
  text-decoration: none;
  color: #ffffff;
}

.home_index {
  position: absolute;
  width: 108px;
  height: 54px;
  left: 429px;
  top: 43px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  align-items: center;
  color: #2f303a;
  text-decoration: none;
}

.insta_icn {
  position: absolute;
  width: 75px;
  height: 75px;
  left: 276px;
  top: 979px;

  background: url(iconmonstr-instagram-11-240.png);
}

.yout_icn {
  position: relative;
  width: 75px;
  height: 75px;
  left: 368px;
  top: 979px;

  background: url(youtube.png);
}

.face_icn {
  position: relative;
  width: 75px;
  height: 75px;
  left: 92px;
  top: 979px;

  background: url(iconmonstr-facebook-4-240.png);
}

.disc_icn {
  position: relative;
  width: 75px;
  height: 75px;
  left: 460px;
  top: 979px;

  background: url(iconmonstr-discord-1-240.png);
}

.map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.-title_abt {
  position: relative;
  left: 41.33%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 103px;
  line-height: 154px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #2f303a;
}

.sub_title_abt {
}

.logo_abt {
  position: relative;
  top: -132px;
  left: 8.33%;
  width: 619px;
  height: 619px;

  border: 16px solid #2f303a;
  box-sizing: border-box;
  box-shadow: -16px 33px 45px rgba(0, 0, 0, 0.25);
}

.gallery {
  width: 300px;
  height: 100px;
  border: 1px solid red;
  box-sizing: border-box;
}

.gallery:hover{
  border: 2px solid red;/*the hover may be removed*/
  box-sizing: border-box;
}
