.html {
  height: 100%;
  margin: 0px;
}

.body {
  height: 100%;
  margin: 0px;
}

a {
  text-decoration: none;
}

.back_lan {

}

.back {
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(
      180deg,
      rgba(41, 58, 196, 0.25) 0%,
      rgba(45, 173, 103, 0.16) 100%,
      rgba(45, 173, 103, 0.16) 100%
    ),
    url(administration-articles-bank-261949.jpg);
  position: relative;
  width: 66.4%;
  height: 99.8%;
  left: 0px;
  top: 2px;
  z-index: 50;
}
/* <navi> */

.navi {
  color: white;
  position: fixed;
  width: 100%;
  height: 127px;
  left: 0px;
  top: 0px;
  box-shadow: 5px 9px 45px rgba(0, 0, 0, 0.25);
  z-index: 100;
}

.rec_navi {
  position: absolute;
  width: 2573px;
  height: 127px;
  left: 0px;
  top: 0px;
  background: #ffffff;
}

.logo {
  position: relative;
  width: 124px;
  height: 124px;
  left: 8.4%;
  top: 2px;
  background: url(Frame 3png);
  z-index: 100;
}

.contact_navi {
  position: absolute;
  width: 147px;
  height: 54px;
  left: 1091px;
  top: 43px;
  font-style: normal;
  font-family: Poppins;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
  z-index: 90;
  color: #2f303a;
}

.abt_navi {
  position: absolute;
  width: 160px;
  height: 54px;
  left: 883px;
  top: 43px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
  align-items: center;
  display: flex;
  color: #2f303a;
}

.latest_navi {
  position: absolute;
  width: 249px;
  height: 54px;
  left: 585px;
  top: 43px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  align-items: center;
  color: #2f303a;
}

.title_index {
  position: absolute;
  width: 553px;
  height: 10px;
  left: 70.45%;
  top: 271px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 120px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #2f303a;
}

.sub_title_index {
  position: absolute;
  width: 583px;
  height: 100px;
  left: 70.45%;
  top: 415px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  align-items: center;

  color: #2f303a;
}
.start_button {
  position: absolute;
  width: 196px;
  height: 88px;
  left: 70.45%;
  top: 601px;
  transition: background-color 1s ease;
  background-color: #2dad67;

  background: #2dad67;
  border-radius: 15px;
  border: none;
  outline: none;
}

.start_button:hover {
  transition: background-color 1s ease;
  background-color: #269458;
}

.button_txt {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.home_index {
  position: absolute;
  width: 108px;
  height: 54px;
  left: 429px;
  top: 43px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  align-items: center;
  color: #2f303a;
}

.insta_icn {
  position: absolute;
  width: 75px;
  height: 75px;
  left: 276px;
  top: 979px;

  background: url(iconmonstr-instagram-11-240.png);
}

.yout_icn {
  position: relative;
  width: 75px;
  height: 75px;
  left: 368px;
  top: 979px;

  background: url(youtube.png);
}

.face_icn {
  position: relative;
  width: 75px;
  height: 75px;
  left: 92px;
  top: 979px;

  background: url(iconmonstr-facebook-4-240.png);
}

.disc_icn {
  position: relative;
  width: 75px;
  height: 75px;
  left: 460px;
  top: 979px;

  background: url(iconmonstr-discord-1-240.png);
}
